.user_order{
    width: 100%;
    font-family: PingFangSC-Regular;  
        .at-tabs{
            .at-tabs__header{
                height: 74px;
                padding: 0 44px;
                .at-tabs__item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    height: 100%;
                    width: 110px;
                    font-size: 28px;
                    color: #000;
                    font-weight:400;
                }
                .at-tabs__item--active{
                    color: #7B3B00;
                }
                .at-tabs__item--active::after{
                    background-color: #7B3B00;
                    height: 4px;
                }
            }
        }
        .tabs-item{
            // width: 110px;
            text-align: center;
            font-size: 28px;
            color: #000;
        }
    }